{% extends 'base.twig' %}

{% block title %} | Cliente{% endblock title %}

{% block page_title %}Cliente{% endblock page_title %}

{% block content %}
    <div class="perfil">
        <h1>Perfil</h1>

        <label>
            <span>Nombre:</span>
            <p>{{ cliente['nombre'] }}</p>
        </label>

        <label>
            <span>Razón Social:</span>
            <p>{{ cliente['razon'] | default('&nbsp;') | raw }}</p>
        </label>

        <label>
            <span>Email:</span>
            <p>{{ cliente['email'] }}</p>
        </label>

        <a href="{{ path_for('update-cliente', {id: cliente.id}) }}" class="accion-cliente-perfil">Editar perfil</a>
    </div>

    <div class="direcciones">
        <h1>Direcciones</h1>
        {% if direcciones %}
            {{ include('tabla-direcciones.twig') }}
		{% else %}
			<p>No se han registrado direcciones para este cliente.</p>
		{% endif %}
        <a href="{{ path_for('nuevo-direccion', {id: cliente.id}) }}" class="accion-cliente-direccion">Agregar dirección</a>
    </div>

    <div class="entregas">
        <h1>Entregas</h1>
        {% if entregas %}
            {{ include('tabla-entregas.twig') }}
		{% else %}
			<p>No se han registrado entregas para este cliente.</p>
		{% endif %}
        <a href="{{ path_for('nuevo-entrega', {id: cliente.id}) }}" class="accion-cliente-entrega">Agregar entrega</a>
    </div>
{% endblock content %}